<div class="container">
  <h2>Preguntas</h2>
  <%= link_to "Hacer Pregunta",route_question, class:"btn btn-primary pull-right" %>
  <table class="table">
  	<thead>
  	  <tr>
  	  	<th></th>
  	  	<th></th>
  	  	<th></th>
  	  </tr>
  	</thead>
  	<tbody>
  		<tr>
       <% @questions.each do |q| %>
        <tr>
          <td>
            <div class="text-center">
              <h3><%= q.vote_questions.count %></h3>
              <small class= "small-description">Votos</small>
            </div>
          </td>
          <td>
            <div class="text-center small-description">
              <h3><%= q.answers.count %></h3>
              <small class= "small-description">Respuestas</small>
            </div>
          </td>
          <td>
            <div>
             <h3><%= link_to q.question, q %></h3>
             <small class="small-description">
               <%= "Publicado por #{q.user.email} hace "%>
               <%= "#{time_ago_in_words(q.created_at)}"%>
             </small>
            </div>
          </td>
        </tr>
       <% end %>
  		</tr>
  	</tbody>
  </table>
</div>