<div class="container">
  <div class="row">
  	 <div class="col-sm-10 col-sm-offset-1">

  	   <h2><%= @question.question %></h2>	

  	    <div class="row sub-container clearfix">

  	      <div class="col-sm-1 text-center">
  	       <% if @question.voted_question_by? current_user %>
  	         <%= render 'questions/link', method: :delete, question:true  %>
  	       <% else %>
  	          <%= render 'questions/link', method: :post, question:true %>
  	       <% end %>
           <h3><%= @question.vote_questions.count %></h3>
  	      </div>

          <div class="col-sm-11 description-sub-container">
            <p> <%= markdown(@question.description) %></p>
            <hr width="100%">
             <% @question.commentary_questions.each do |c| %>

               <div class="panel panel-default">
                 
                 <div class="panel-heading">
                   <strong><%= "#{c.user.email}" %></strong>
                   <span class="text-muted"><%= "Comentó hace #{time_ago_in_words(c.created_at)}"%></span>
                 </div>
                 
                 <div class="panel-body">
                   <%= markdown(c.commentary) %>
                 </div>

               </div>
             <% end %>
            <hr width="100%">
              <%= render partial:"questions/validation", locals:{object:@commentary_question} %>
              <%= form_for [@question, CommentaryQuestion.new] do |c| %>
                <div class="form-group">
                  <%= c.text_area :commentary, class:"form-control", placeholder: "Agregar un Comentario..." %>
                </div>
                <div class="form-group">
                  <%= c.submit "Comentar", class: "btn btn-primary pull-right"%>
                </div>
              <% end %>

          </div>

  	    </div>
  	    
  	  </div> <!-- end col-sm-10 col-sm-offset-1-->
      
  </div>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <hr width="100%">
      <h3><%= "#{@question.answers.count} Respuesta(s)"%></h3>

      <% if @question.answers.count == 0 %>
        <span class="text-muted">Si conoces a alguien que conozca la respuesta, por favor avísale, que la necesitamos con urgencia</span>
      <% end %>
      <hr width="100%">
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
      <% @question.answers.each do |a| %>

        <div class="row sub-container clearfix">
          <div class="col-sm-1 text-center">
           <% if a.voted_answer_by? current_user %>
             <%= render 'questions/link', method: :delete, answer:a.id, question:false %>
           <% else %>
             <%= render 'questions/link', method: :post, answer:a.id, question: false %>
           <% end %>
           <h3><%= a.vote_answers.count %></h3>
          </div>

          <div class="col-sm-11 description-sub-container ">
            <p><%= markdown(a.answer) %></p>
            <hr width="100%">
          </div>

        </div>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <h3>Tu Respuesta</h3>

        <%= render partial:"questions/validation", locals:{object:@answer} %>
        
        <%= form_for [@question, Answer.new] do |a| %>
          
          <div class="form-group">
            <%= a.text_area :answer, rows:"8", class:"form-control", placeholder:"Respuesta..."%>
          </div>
          
          <div class="form-group">
            <%= a.submit "Responder", class:"btn btn-primary pull-right" %>
          </div>

        <% end %>
        
    </div>
  </div>

</div>