<!DOCTYPE html>
<html>
  <head>
    <title>AppStackOvf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   
  <body>

   <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <%= link_to '<b>El Oráculo del Developer</b>'.html_safe, questions_path, class:"navbar-brand" %>
        </a>
      </div>


      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Salir", destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Ingresar", new_user_session_path %></li>
          <li><%= link_to "Registrase", new_user_registration_path %></li>
        <% end %>
      </ul>


    </div>

   </nav>     



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
