<!DOCTYPE html>
<html>
  <head>
    <title>AppStackOvf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   
  <body>

   <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <%= link_to '<b>El Oráculo del Developer</b>'.html_safe, questions_path, class:"navbar-brand" %>
        </a>
      </div>


       <%= form_tag questions_path, method: :get, class:"navbar-form navbar-right" do %>

         <div class="form-group">
           <%= text_field_tag :search, params[:search], class:"form-control", placeholder:"Buscar" %>
         </div>
         
       <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Salir", destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><%= link_to "Ingresar", new_user_session_path %></li>
          <li><%= link_to "Registrase", new_user_registration_path %></li>
        <% end %>
      </ul>


    </div>

   </nav>     


    <% if flash[:notice] %>
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" arial-label="close">x</a><%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
